.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  overflow: auto;
}

.blog {
  width: 50%;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: white;
}

.blog h1 {
  text-align: center;
  align-items: center;
  color: black;
}

.blog p {
  white-space: pre-line;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 1em;
  line-height: 1.5;
  word-wrap: break-word;
}

.blog-date {
  margin-bottom: 8px;
  font-size: 0.8em;
}

.blog {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 1em;
  line-height: 1.5;
  word-wrap: break-word;
}

.blog code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}

.blog a {
  color: #0969da;
  text-decoration: none;
}

.empty-block {
  margin-top: 50px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .blog {
    width: 80%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .blog {
    width: 70%;
  }
}
