.navbar-button {
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navbar-button:focus {
  outline: none;
}

.navbar-button-line {
  width: 30px;
  height: 2px;
  background: white;
}
