.nav-side {
  background-color: white;
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  left: 10%;
  transition: transform 0.5s ease-in, visibility 0.5s ease-in;
  z-index: 2;
}

.nav-side-show {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: right;
}

.nav-side-hidden {
  /* visibility: hidden; */
  transform: scaleX(0);
  transform-origin: right;
}

.nav-side-close-btn {
  width: 50px;
  height: 50px;
  font-size: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  float: right;
  margin-top: 30px;
  margin-right: 35px;
}

.nav-side-close-btn:focus {
  outline: none;
}

.nav-side ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  padding: 10%;
  margin-right: 85px;
  align-items: center;
}

.nav-side li {
  flex: 1;
  margin: 20px 0px;
}

.nav-side a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
}
