.container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(30, 30, 30);
}

.container-main {
  /* margin-top the size of navbar */
  margin-top: 10vh;
  height: 90vh;
}

span,
h1 {
  color: white;
}
