.container {
  min-height: 100vh;
}

.container-main {
  margin-top: 70px;
  /* same as navbar height */
  min-height: calc(100vh - 70px);
}

span,
h1 {
  color: white;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: rgb(30, 30, 30);
}
